body {
	width: 100vw;
	height: 100vh;

	max-width: 100vw;
	max-height: 100vh;

	overflow: hidden;
}

#root {
	width: 100%;
	height: 100%;

	max-width: 100%;
	max-height: 100%;

	display: flex;
	justify-content: flex-start;
}

:root {
	--bg: #0d0f12;
	--off-bg: #1a191b;
	--nav-bg: #f1f1f1;
	--accent: #776ac8;
	--secondary: #9c27b0;
	--white: #f5f5f5;
	--off-white: #faf0e6;
	--grey: #aba9a6;
	--error: #ff3b3b;
	--disabled: #504e4b;
}
