{
  "printWidth": 120,
  "useTabs": false,
  "quoteProps": "as-needed",
  "semi": true,
  "singleQoute": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "proseWrap": "never",
  "endOfLine": "auto",
  "tabWidth": 2,
  "jsxSingleQuote": true,
	"trailingComma": "es5",
	"arrowParens": "always",
	"endOfLine": "lf",
}
